<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>Donor</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.donor.name %></td>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= (donation.date).strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Delete', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<b>Data as of: <%= (Date.today).strftime("%B %d, %Y") %></b><br>
<b>Total donations made: <%= Donation.count("id") %></b><br>
<b>Total Donated: <%= number_to_currency(Donation.sum(:amount))%></b><br>


<br>

<%= link_to 'Make a Donation', new_donation_path %> <br>
Want to make a difference?
<%= link_to 'Register as a member', new_donor_path %>
